// Definition des couleurs utilisees sur les differentes pages
$darkgray: #222831;
$darkgray-opacity-20: #c6c7ca;
$darkgray-opacity-10: #ebebec;

$lightgray: #fafaff;

$white: #fff;

$orange: #fd4e00;
$orange-opacity-06: rgba(253, 78, 0, .06);
