// Definition des regles responsives pour la navigation
@media only screen and (max-width: 768px) {
  // Arrangement des elements generiques a l'ensemble des pages pour le responsive
  body {
    font-size: 14px;

    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 70px;
    }

    h3 {
      font-size: 50px;
    }

    h4 {
      font-size: 38px;
    }

    .overall {
      // Arrangement du sticky footer
      .container {
        margin-bottom: -60px;

        .layout-footer {
          height: 60px;
        }
      }
    }
    // Arrangement de l'identite visuelle
    .visual-identity {
      height: 163px;
      right: 30px;
      top: 30px;
      width: 220px;

      h1 {
        left: 23px;
        position: relative;
        top: 26px;
      }

      span {
        &:nth-child(2) {
          font-size: 7px;
          left: 43px;
          letter-spacing: 3px;
          top: 35px;
        }

        &:last-child {
          left: 86px;
          top: 31px;
        }
      }
    }
    // Definition des regles generales pour l'ensemble des pages
    .home-content h2,
    .recipe-content header h2,
    .contact-content header h2 {
      margin-left: 0;
      position: relative;
      text-align: right;
    }

    .home-content h2,
    .recipe-content header h2 {
      right: -20px;
    }

    .recipe-content header h2,
    .contact-content header h2 {
      margin-top: 120px;
    }
  }
}
