// Definition des regles responsives pour la page contact
@media only screen and (max-width: 768px) {
  .contact-content {
    // Arrangement du header
    header {
      h2 {
        right: -10px;
      }
    }
    // Arrangement pour le formulaire
    .ask-her {
      margin: 68px 20px 20px 60px;
      width: 241px;
      // Definition des elements communs
      input,
      textarea {
        font-size: 16px;
      }

      input {
        margin-bottom: 44px;
      }

      textarea {
        height: 42px;
        max-height: 42px;
      }
      // Surcharge du placeholder
      input:-moz-placeholder,
      textarea:-moz-placeholder {
        font-size: 16px;
      }

      input:-webkit-input-placeholder,
      textarea:-webkit-input-placeholder {
        font-size: 16px;
      }

      input.placeholder,
      textarea.placeholder {
        font-size: 16px;
      }

      button {
        margin-top: 60px;
        padding-left: 30px;
        width: 222px;

        span {
          text-align: left;

          &:before {
            top: 42px;
            transition: none;
          }
        }

        &:before {
          height: 80px;
        }

        &:after {
          transform: scaleX(.75);
          transition: none;
        }
      }
    }
  }
}
