// Imporatation des couleurs
@import 'color';

// Debut du style pour le footer
.footer {
  margin-top: 96px;
  width: 100vw;
  // Definition de l'apparence pour la partie ecole
  .gobelins-school {
    display: block;
    height: 25px;
    margin: 0 auto 16px;
    width: 16px;
  }
  // Definition de l'arrangement des elements de la partie basse du footer
  .link-footer {
    background: url('../images/footer-background.png') no-repeat center center;
    background-size: cover;
    display: flex;
    height: 30px;
    width: 100vw;

    li {
      align-self: center;
      color: $lightgray;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 5px;
      margin-left: 20px;
      text-transform: uppercase;

      &:last-child {
        margin-left: auto;
        margin-right: 20px;
      }
    }
  }
}
