// Definition des regles responsives pour le footer
@media only screen and (max-width: 768px) {
  .footer {
    margin-top: 60px;
    position: relative;
    // Arrangement de l'image de l'ecole
    .gobelins-school {
      margin-left: 54%;
    }
    // Arrangement des elements de la partie basse
    .link-footer {
      background: url('../images/footer-background-mobile.png') no-repeat center center;
      flex-direction: column-reverse;
      height: 60px;
      justify-content: space-around;
      padding: 4px 0;

      li {
        left: 20px;
        letter-spacing: 4px;
        margin-left: 0;
        position: relative;

        &:first-child {
          padding-bottom: 1px;
        }

        &:last-child {
          margin-left: inherit;
          margin-right: 0;
        }
      }
    }
  }
}
