// Imporatation des couleurs
@import 'color';

// Debut du style pour le header de la page recipe et contact
.header {
  background: url('../images/home-heading-background.png') no-repeat top center;
  background-size: cover;
  height: 30px;
  position: relative;
  width: 100vw;
  // Definition de reseaux socieuax
  .social-network {
    height: 30px;
    position: absolute;
    right: 20px;
    width: 290px;

    ul {
      display: flex;
      font-size: 10px;
      font-weight: 600;
      height: 30px;
      letter-spacing: 4px;
      text-transform: uppercase;
      width: 100%;
    }

    li {
      align-self: center;
      margin-right: 22px;
      position: relative;

      &:after {
        color: $lightgray;
        content: '-';
        position: absolute;
        right: -14px;
      }

      &:last-child:after {
        content: '';
      }
    }
  }
  // Definition de l'identite visuelle
  .visual-identity {
    display: block;
    height: 165px;
    margin: 0;
    right: 20px;
    top: 50px;
    width: 222px;

    h1 {
      color: $darkgray;
      font-size: 30px;
      left: 24px;
      top: 27px;
    }

    span {
      &:nth-child(2) {
        font-size: 7px;
        left: 46px;
        letter-spacing: 3px;
        top: 35px;
      }

      &:last-child {
        left: 87px;
        top: 32px;
      }
    }
  }
}
