// Imporation des couleurs
@import 'color';

// Definition des regles responsives pour la navigation
@media only screen and (max-width: 768px) {
  // Arrangement du menu pour mobile
  .sidebar {
    background-color: $darkgray;
    height: 100vh;
    left: 0;
    padding: 30% 0 0 8px;
    top: 0;
    transition: width .2s ease-in-out;
    width: 40px;

    a {
      padding: 10px 0;
    }
    // Arrangement des elements du bouton
    .menu-button {
      margin-bottom: 30px;
      .menu-text:hover {
        color: inherit;
      }
    }
  }
  // Nouveau fonctionnement lorsque le menu est mobile
  .is-visible {
    .sidebar {
      width: 65%;
      // Tout d'abord la partie du bouton menu
      .menu-button {
        transform: translateX(20px);
        // Son texte
        .menu-text {
          color: inherit;
          font-size: 14px;
        }
        // Son icone
        .menu-icon {
          height: 20px;
          left: 128px;
          top: 10px;
          transition: opacity .5s ease-in-out .4s;
          width: 20px;

          &:before,
          &:after {
            height: 2px;
            width: 20px;
          }

          &:before {
            top: 6px;
          }

          &:after {
            top: 6px;
          }
        }
      }
      // Et ses liens
      .link {
        margin-bottom: 30px;

        a {
          font-size: 16px;
          left: 0;
          padding-left: 20px;
          transition: left .25s ease-in-out;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          left: inherit;
        }

        &.actif {
          a {
            left: 20px;

            &:before {
              height: 2px;
              left: -30px;
              top: 17px;
            }
          }
        }
      }
    }
  }
}
